@import url('https://fonts.googleapis.com/css2?family=Skranji&display=swap');
/*body etc.*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Skranji', cursive;
}


form{
    display:flex;
    

}
.container{
    display:flex;
   justify-content:  center;
   gap:50px;
}
/*flex1*/
.hotel{
    width: 200px;

}
.hotel{
    position:relative;
    width: 400px;

}
.flex-1{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
    text-align: center;
    color: white;

}
.odin-d{
    color: white;
    width: 400px;
    border: 1px solid black;
    background-color: black;
    opacity: 0.60;
    height: 150px;
    position:relative;
    bottom: 500px;
    font-size: 50px;
    text-align: center;
    
}
.img-odin{
    width: 100px;
}
.odin{
    text-align: center;
    position:relative;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
/*flex 2*/
.flex2{
    display:flex;
    flex-direction: column;
    margin: 100px 100px 50px 50px;
    justify-content: flex-start;
}
.user{
    display:flex;
    flex-direction: column;
    gap:15px;
}
.user input{
    width: 35%;
    height: 35%;
    

}