@import url('https://fonts.googleapis.com/css2?family=Skranji&display=swap');
body{
    font-family: 'Skranji', cursive;
}

.hotel{
    width: 200px;

}
form{
    display:flex;
    

}
.container{
    display:flex;
   justify-content:  center;
   padding: 150px;
}
.hotel{
    position:relative;
}

.odin-d{
    color: aquamarine;
    width: 300px;
    border: 1px solid red;
    height: 150px;
    position:relative;
    bottom: 180px;
}